    <div class="w-2/3 border-2  px-3 py-2 rounded-lg border-zinc-700 mt-3 mb-10 ml-2 flex flex-col items-center">
        <div  class="w-full  flex items-center justify-between ">
            <div class="mr-3">
                <i class="fa-solid fa-magnifying-glass text-zinc-700 text-3xl"></i>
            </div>
            <input type="text" class="w-11/12  usernameIp bg-transparent outline-none" placeholder="username">
        </div>
        <div class=" result ">
            
        </div>
    </div>
