<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Dekrof</title>
    <%- include('./partials/headerlinks')%>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900  text-white">

    <%- include('./partials/navbar') %>
    <%-include('./partials/createPostform')%>
    <!-- <%-include('./partials/loadPosts')%> -->
     <div class="max-w-2xl mx-auto py-8 px-4 allposthere"></div>

     <div id="loader"></div>
    </div>
    <footer></footer>
    <script src="/javascripts/index.js"></script>
</body>
</html>
